ul,ol,li{
	padding: 0;
	margin: 0;
	list-style: none;
}
.container{
        height: 100%;
       width: 100%;
	margin: 0 auto;
	position: relative;
}

ul li a {
	display: block;
}

ol{
	position: absolute;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	background: rgba(255,255,255,.6);
	border-radius: 7px;
	padding: 3px;
	z-index: 2;
}
ol li{
	background: red;
	float: left;
	width: 8px;
	height: 8px;
	margin-left: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-right: 7px;
}



