#bread {
  background: #ccc; }
  #bread #bread-con {
    background: #fff;
    margin: 0 auto;
    width: 1190px;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px; }
    #bread #bread-con a {
      color: #666666;
      font-size: 12px; }

section {
  width: 1200px;
  height: 1400px;
  background: #fefefe;
  margin: 0 auto; }
  section #screen-box {
    width: 202px;
    float: left;
    background: #fefefe; }
    section #screen-box #screen {
      width: 200px;
      height: 401px;
      background: #fefefe;
      border: 1px solid #f5f5f5; }
      section #screen-box #screen h3 {
        font-size: 13px;
        width: 180px;
        height: 20px;
        color: #333333;
        padding: 8px 10px;
        background: #f5f5f5;
        margin-bottom: 10px; }
      section #screen-box #screen li {
        width: 170px;
        height: 24px;
        margin-left: 30px; }
      section #screen-box #screen a {
        display: block;
        color: #555;
        font-size: 12px;
        float: left;
        margin-left: 10px; }
      section #screen-box #screen .fla {
        width: 10px;
        height: 5px;
        padding-bottom: 5px;
        font-size: 12px; }
    section #screen-box #screen-bottom {
      margin-top: 20px;
      background: #fefefe;
      height: 100px;
      width: 200px;
      border: 1px solid #f5f5f5; }
      section #screen-box #screen-bottom h3 {
        font-size: 13px;
        width: 180px;
        height: 20px;
        color: #333333;
        padding: 8px 10px;
        background: #f5f5f5;
        margin-bottom: 10px; }
      section #screen-box #screen-bottom a {
        display: block;
        color: #b2a2c2;
        font-size: 12px;
        margin: 20px 55px; }
      section #screen-box #screen-bottom a:hover {
        color: #FFA500; }
  section #goods-rigth {
    float: left;
    width: 998px;
    height: 996px;
    background: #fefefe; }
    section #goods-rigth #rank {
      width: 980px;
      margin-left: 13px;
      height: 38px;
      background: #f7f7f7; }
      section #goods-rigth #rank .rank-left {
        width: 320px;
        height: 38px;
        float: left; }
        section #goods-rigth #rank .rank-left li {
          float: left; }
        section #goods-rigth #rank .rank-left span {
          border: 1px solid #e6e6e6;
          padding: 0 10px;
          display: block;
          font-size: 12px;
          height: 36px;
          line-height: 38px;
          background: #f7f7f7; }
        section #goods-rigth #rank .rank-left a {
          border: 1px solid #e6e6e6;
          padding: 0 10px;
          display: block;
          font-size: 12px;
          color: #555555;
          height: 36px;
          line-height: 38px;
          background: #f7f7f7; }
        section #goods-rigth #rank .rank-left a:hover {
          background: #fff;
          color: #FFA500;
          border-bottom: 0; }
      section #goods-rigth #rank .rank-right {
        width: 560px;
        height: 30px;
        background: #f7f7f7;
        float: left;
        padding-left: 100px;
        font-size: 12px;
        color: #252525;
        padding-top: 8px; }
        section #goods-rigth #rank .rank-right h2 {
          float: left;
          font-size: 12px;
          margin-top: 4px; }
        section #goods-rigth #rank .rank-right a {
          display: block;
          background: #fff;
          width: 70px;
          height: 22px;
          color: #777777;
          float: left;
          text-align: center;
          line-height: 22px;
          border: 1px solid #e6e6e6; }
        section #goods-rigth #rank .rank-right span {
          background: #fff;
          display: block;
          float: right;
          width: 50px;
          height: 22px;
          font-size: 12px;
          line-height: 22px;
          border: 1px solid #e6e6e6;
          margin-right: 10px;
          text-align: center; }

#goods {
  background: #fefefe;
  width: 998px;
  height: 1300px;
  position: relative; }
  #goods .goods-content {
    padding-left: 5px;
    width: 229px;
    height: 322px;
    background: #fff;
    float: left;
    margin-left: 11px;
    margin-top: 18px;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 4px 4px rgba(102, 102, 102, 0.65); }
    #goods .goods-content .oA {
      width: 229px;
      height: 100px; }
    #goods .goods-content img {
      width: 100%; }
    #goods .goods-content .goods-name {
      width: 229px;
      height: 38px;
      background: #fff;
      font-size: 12px;
      color: #4c334c; }
    #goods .goods-content .goods-price {
      width: 229px;
      height: 30px;
      background: #fff;
      font-size: 14px;
      font-weight: 900;
      color: #FFA500;
      line-height: 30px; }
    #goods .goods-content .goods-kc {
      width: 229px;
      height: 24px;
      background: #fff;
      color: #999;
      font-size: 12px;
      line-height: 24px; }
  #goods .goods-content:hover {
    box-shadow: 0px 4px 4px #FFA500; }
  #goods #pages {
    position: absolute;
    left: 10px;
    top: 1050px;
    background: #fefefe;
    width: 745px;
    height: 44px;
    float: left;
    padding-left: 235px; }
    #goods #pages li {
      float: left; }
    #goods #pages a {
      height: 38px;
      line-height: 42px;
      color: #aaa;
      font-size: 12px;
      display: block;
      padding: 0 15px;
      border: 1px solid #e6e6e6;
      border-left: 0;
      background: #fafafa; }
    #goods #pages a:hover {
      background: #fff;
      color: #FFA500; }
  #goods #gress {
    position: absolute;
    left: 10px;
    top: 1120px;
    width: 980px;
    height: 160px;
    background: #fefefe;
    border: 1px solid #eeeeee; }
    #goods #gress h2 {
      padding-left: 10px;
      line-height: 30px;
      font-size: 12px;
      font-weight: 900;
      color: #666666;
      width: 970px;
      height: 30px;
      background: #fefefe;
      border-bottom: 1px solid #eeeeee; }
    #goods #gress #baobei {
      text-align: center;
      height: 130px;
      width: 980px;
      line-height: 130px;
      font-size: 12px;
      color: #aaa; }
