#top {
  background: #fff; }
  #top #top-con {
    width: 1200px;
    height: 100px;
    background: #fff;
    margin: 0 auto; }
    #top #top-con #logo {
      width: 240px;
      height: 100px;
      background: #000;
      float: left;
      background: url(../images/logo.png) no-repeat 0px 20px; }
    #top #top-con #brand {
      width: 250px;
      height: 100px;
      float: left;
      background: url(../images/header-left.png) no-repeat 20px 20px; }
    #top #top-con .gy {
      display: block;
      float: right;
      width: 100px;
      color: #000000;
      height: 100px;
      line-height: 100px;
      text-align: center; }
    #top #top-con #yyzh {
      width: 200px;
      height: 100px;
      float: right;
      line-height: 100px; }
      #top #top-con #yyzh .dl {
        color: #FFA500; }

#res-line {
  height: 12px;
  background: url(../images/register-line.png) left bottom repeat-x; }

#reg {
  background: #fff;
  margin-top: 100px; }
  #reg #reg-con {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 2px solid #d7d7d7; }
    #reg #reg-con #act {
      background: #FFA500;
      width: 100px;
      margin: 0 auto;
      color: #fff;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: 600;
      border-radius: 5px; }

.tab_container {
  width: 1300px;
  height: 483px;
  position: relative;
  border-top: 1px solid #ccc; }
  .tab_container .default {
    margin: 0 auto;
    display: block;
    padding: 50px;
    width: 480px;
    height: 383px;
    left: -600px; }
    .tab_container .default div {
      width: 398px;
      height: 52px;
      border: 1px solid #E6E6E6;
      position: relative; }
      .tab_container .default div i {
        float: left;
        font-size: 14px;
        line-height: 52px;
        padding-left: 15px;
        color: #666;
        width: 80px;
        height: 52px; }
      .tab_container .default div input {
        float: left;
        font-size: 14px;
        line-height: 50px;
        width: 290px;
        padding-left: 5px;
        border: none;
        height: 50px;
        outline: none;
        position: relative; }
      .tab_container .default div em {
        display: none;
        height: 24px;
        width: 160px;
        padding: 8px 12px 8px 24px;
        font-size: 12px;
        position: absolute;
        z-index: 2;
        background: #FFf5D9;
        line-height: 24px;
        left: 334px;
        top: 7px; }
      .tab_container .default div .checked {
        float: left;
        width: 13px;
        height: 13px;
        vertical-align: middle;
        margin-right: 8px;
        margin-top: 5px; }
      .tab_container .default div span {
        font-size: 14px;
        color: #333; }
        .tab_container .default div span a {
          color: #333; }
      .tab_container .default div .showCode {
        width: 120px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        color: #ccc; }
    .tab_container .default #showCode {
      position: relative; }
    .tab_container .default #checked {
      border: none;
      height: 20px;
      padding-top: 10px; }
    .tab_container .default #btn1 {
      width: 400px;
      height: 40px;
      background: #FFA500;
      border: none;
      border: 1px solid #D91E17;
      border-radius: 3px;
      color: #FFf;
      font-size: 16px;
      font-weight: 600;
      margin-top: 20px; }
